<h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Ajouter un Projet</h1>

<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-xl p-8 md:p-12">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="space-y-12">
    <div>
      <h2 class="text-xl font-semibold text-gray-700 mb-6 border-b pb-2">Informations du Projet</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="form-group">
          <label>Nom du Projet</label>
          <input type="text" formControlName="project_name" class="input" />
        </div>

        <div class="form-group">
          <label>Assigné à</label>
          <input type="text" formControlName="assigned_to" class="input" />
        </div>

        <div class="form-group">
          <label>Date de Début</label>
          <input type="date" formControlName="start_date" class="input" />
        </div>

        <div class="form-group">
          <label>Date de Fin</label>
          <input type="date" formControlName="end_date" class="input" />
        </div>

        <div class="form-group md:col-span-2">
          <label>Description</label>
          <textarea rows="4" formControlName="description" class="input resize-none"></textarea>
        </div>

        <div class="form-group">
          <label>Statut</label>
          <select formControlName="status" class="input">
            <option value="">-- Sélectionner --</option>
            <option value="Not Started">Non Commencé</option>
            <option value="In Progress">En Cours</option>
            <option value="Finished">Terminé</option>
            <option value="Canceled">Annulé</option>
          </select>
        </div>

        <div class="form-group">
          <label>Priorité</label>
          <select formControlName="priority" class="input">
            <option value="">-- Sélectionner --</option>
            <option value="Low">Basse</option>
            <option value="Medium">Moyenne</option>
            <option value="High">Haute</option>
          </select>
        </div>
      </div>
    </div>

    <div class="text-center pt-6">
      <button
        type="submit"
        class="bg-blue-600 text-white font-semibold px-20 py-2 rounded-lg hover:bg-blue-700 transition cursor-pointer">
        Ajouter
      </button>
    </div>
  </form>
</div>
