<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-green-900 to-green-400 p-4">
  <form [formGroup]="signupForm" class="w-full max-w-md bg-white p-6 sm:p-8 rounded-2xl shadow-xl space-y-6">
    <h2 class="text-2xl sm:text-3xl font-semibold text-center text-gray-800">Créer un compte</h2>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="user_email" type="email" required />
      <mat-error *ngIf="signupForm.get('user_email')?.hasError('email')">Adresse email invalide</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="user_password" required />
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" aria-label="Toggle password visibility" >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="signupForm.get('user_password')?.hasError('minlength')">Au moins 6 caractères</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Confirmer le mot de passe</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required/>
      <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button" aria-label="Toggle confirm password visibility">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <p *ngIf="passwordMismatch" class="text-red-600 text-sm -mt-2">Les mots de passe ne correspondent pas</p>

    <div class="flex flex-col sm:flex-row items-center justify-center gap-3 sm:gap-4 pt-4">
      <button class="btn-cancel w-full sm:w-auto" type="button" (click)="goBack()">Retour</button>
      <button class="btn-add w-full sm:w-auto" type="submit" (click)="onSubmit()">S'inscrire</button>
    </div>
  </form>

  <footer class="absolute bottom-4 text-white text-sm text-center w-full px-4">
      Developed with love ❤️ by
      <a href="https://akram-benaoun.site" target="_blank" class="font-semibold no-underline hover:text-yellow-300 transition">Akram Benaoun</a> © {{ current_year }}
  </footer>
</div>
