
<div class="w-auto h-auto m-8">
    <h2 class="mb-4">Modifier le rôle de l'utilisateur</h2>
    
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Rôle</mat-label>
        <mat-select formControlName="user_role_id">
          <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <div class="flex justify-end space-x-2 mt-4">
          <button class="btn-add" color="primary" type="submit">Confirmer</button>
          <button class="btn-cancel" type="button" (click)="onCancel()">Annuler</button>
      </div>
    </form>
</div>
