<h1  class="text-3xl font-bold text-gray-800 mb-8 text-center">Détails de la Mission</h1>

<div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-70 z-[9999]">
  <mat-spinner diameter="100"></mat-spinner>
</div>

<form #pdfContent id="pdfContent" *ngIf="missionForm" [formGroup]="missionForm" class="space-y-12 px-6 md:px-12">
  <div>
    <h2 class="text-xl font-semibold text-gray-700 mb-6 border-b pb-2">Informations de la Mission</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      
      <div class="form-group">
        <label>Nom de la Mission:</label>
        <input formControlName="mission_name" type="text" class="input" />
      </div>

      <div class="form-group">
        <label>Description:</label>
        <input formControlName="mission_description" type="text" class="input" />
      </div>

      <div class="form-group">
        <label>Date de Début:</label>
        <input formControlName="start_at" type="date" class="input" />
      </div>

      <div class="form-group">
        <label>Date de Fin:</label>
        <input formControlName="end_at" type="date" class="input" />
      </div>

      <div class="form-group">
        <label>Priorité:</label>
        <select formControlName="priority" class="input">
          <option value="">-- Sélectionner --</option>
          <option value="LOW">Faible</option>
          <option value="MEDIUM">Moyenne</option>
          <option value="HIGH">Élevée</option>
        </select>
      </div>

      <div class="form-group">
        <label>Frais (TND):</label>
        <input formControlName="expenses" type="number" class="input" />
      </div>

    </div>
  </div>
</form>

<div class="text-center pt-6">
  <div class="flex flex-col md:flex-row justify-center items-center gap-4">
    <button
      type="button"
      (click)="updateMission()"
      class="btn-edit">
      Modifier
    </button>

    <button
        type="button"
        (click)="downloadPDF()"
        class="btn-add">
        Télécharger PDF
    </button>

    <button
      type="button"
      (click)="goBack()"
      class="btn-cancel">
      Annuler
    </button>
  </div>
</div>

