<h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Liste des Employés</h1>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Nombre des Employés</h2>
    <p class="text-2xl font-bold text-green-600">{{total_employees_count}}</p>
  </div>
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Employés Males</h2>
    <p class="text-2xl font-bold text-blue-600">{{male_employees_count}}</p>
  </div>
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Employés Femelle</h2>
    <p class="text-2xl font-bold text-red-600">{{female_employees_count}}</p>
  </div>
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Nouveaux Employés</h2>
    <p class="text-2xl font-bold text-yellow-600">{{new_employees_count}}</p>
  </div>
</div>

<mat-form-field class="w-full sm:w-1/3" appearance="fill">
  <mat-label>Rechercher..</mat-label>
  <input matInput type="text" [formControl]="keyword" placeholder="Tapez un nom..." />
    @if (keyword.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()" disableRipple class="clear-icon-button">
        <mat-icon>close</mat-icon>
      </button>
    }
</mat-form-field>

<div class="bg-white shadow-md rounded-lg p-4">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Matricule</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Prénom</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Nom</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Addresse</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Email</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">N° de Téléphone</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Actions</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr *ngFor="let employee of employeeList">
        <td class="px-4 py-2 text-sm">{{ employee.employee_matricule }}</td>
        <td class="px-4 py-2 text-sm">{{ employee.employee_name }}</td>
        <td class="px-4 py-2 text-sm">{{ employee.employee_lastname }}</td>
        <td class="px-4 py-2 text-sm">{{ employee.employee_address }}</td>
        <td class="px-4 py-2 text-sm">{{ employee.employee_email }}</td>
        <td class="px-4 py-2 text-sm">{{ employee.employee_phone_number }}</td>
            <td class="px-4 py-2 text-sm flex space-x-2">
              <button mat-icon-button color="primary" (click)="onEditEmployee(employee.employee_id)">
                <mat-icon style="color: #3b82f6;">edit</mat-icon>
              </button>

              <button mat-icon-button color="warn" (click)="onDeleteEmployee(employee.employee_id)">
                <mat-icon style="color: #ef4444;">delete</mat-icon>
              </button>
            </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    [length]="total_employees_count"
    [pageSize]="limit"
    [pageSizeOptions]="[5, 20, 50, 100]"
    (page)="onPageChange($event)">
  </mat-paginator>

</div>
