<h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Liste des Employés</h1>

<div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-70 z-[9999]">
  <mat-spinner diameter="100"></mat-spinner>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Nombre des Employés</h2>
    <p class="text-2xl font-bold text-green-600">{{total_employees_count}}</p>
  </div>
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Employés Males</h2>
    <p class="text-2xl font-bold text-blue-600">{{male_employees_count}}</p>
  </div>
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Employés Femèles</h2>
    <p class="text-2xl font-bold text-red-600">{{female_employees_count}}</p>
  </div>
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Nouveaux Employés</h2>
    <p class="text-2xl font-bold text-yellow-600">{{new_employees_count}}</p>
  </div>
</div>

<div class="bg-white shadow-md rounded-lg p-4">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Matricule</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Prénom</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Nom</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Addresse</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Email</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">N° de Téléphone</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Actions</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr *ngFor="let employee of paginatedEmployees">
        <td class="px-4 py-2 text-sm">{{ employee.employee_matricule }}</td>
        <td class="px-4 py-2 text-sm">{{ employee.employee_name }}</td>
        <td class="px-4 py-2 text-sm">{{ employee.employee_lastname }}</td>
        <td class="px-4 py-2 text-sm">{{ employee.employee_address }}</td>
        <td class="px-4 py-2 text-sm">{{ employee.employee_email }}</td>
        <td class="px-4 py-2 text-sm">{{ employee.employee_phone_number }}</td>
            <td class="px-4 py-2 text-sm flex space-x-2">
              <button mat-icon-button color="primary" (click)="onEditEmployee(employee.employee_id)">
                <mat-icon style="color: #3b82f6;">edit</mat-icon>
              </button>

              <button mat-icon-button color="warn" (click)="onDeleteEmployee(employee.employee_id)">
                <mat-icon style="color: #ef4444;">delete</mat-icon>
              </button>
            </td>
      </tr>
    </tbody>
  </table>

  <div class="flex justify-between items-center mt-4 flex-wrap">
      <div class="text-sm text-gray-700">
        Taille des pages:
      <select class="ml-2 border rounded px-2 py-1" [(ngModel)]="limit" (change)="setPageSize(limit)">
       <option [value]="20">20</option>
       <option [value]="50">50</option>
       <option [value]="100">100</option>
      </select>
      </div>

    <div class="space-x-2 mt-2 sm:mt-0">
      <button
        class="px-3 py-1 bg-gray-200 rounded disabled:opacity-50"
        (click)="currentPage = currentPage - 1"
        [disabled]="currentPage === 1"
      >
        Préc
      </button>
      <button
        class="px-3 py-1 bg-gray-200 rounded disabled:opacity-50"
        (click)="currentPage = currentPage + 1"
        [disabled]="currentPage >= totalPages"
      >
        Suiv
      </button>
    </div>
  </div>
</div>
