
<div class="w-auto h-auto m-8">
    <h2 class="text-xl font-semibold mb-4">Ajouter un jour férié</h2>
    
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    <form [formGroup]="holidayForm" (ngSubmit)="onSubmit()" class="space-y-4">

    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Nom du jour férié</mat-label>
        <input matInput formControlName="holiday_name" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="holiday_date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="flex justify-end gap-2">
        <button class="btn-cancel" type="button" (click)="close()">Annuler</button>
        <button class="btn-add" type="submit" [disabled]="holidayForm.invalid">Ajouter</button>
    </div>

    </form>
</div>
