<h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Statistiques RH</h1>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-6">

  <div class="bg-gray-200 shadow p-5 rounded-xl flex flex-col min-w-0" style="min-height: 300px;">
    <h2 class="text-xl font-semibold mb-4 flex items-center">🎂 Anniversaires du mois</h2>

    <div *ngIf="!isLoading && birthdays.length === 0" class="text-gray-500">Aucun anniversaire ce mois-ci.</div>

    <div *ngIf="birthdays.length > 0" class="overflow-y-auto scrollbar-thin flex-1" style="max-height: 220px;">
      <div *ngFor="let emp of birthdays" class="flex items-center justify-between border-b last:border-b-0 py-2 hover:bg-gray-100 rounded cursor-pointer">
        
        <div>
          <p class="font-medium">{{ emp.employee_name }} {{ emp.employee_lastname }}</p>
          <p class="text-gray-500 text-sm">{{ emp.employee_birth_date | date:'dd MMMM' }}</p>
        </div>

        <span class="text-xl">🎉</span>
      </div>
    </div>
  </div>

  <div class="bg-gray-200 shadow p-5 rounded-xl flex flex-col items-center min-w-0" style="min-height: 300px;">
    <h2 class="text-xl font-semibold mb-4">📊 Répartition Hommes / Femmes</h2>

    <div *ngIf="isLoading" class="text-gray-500">Chargement...</div>

    <div class="h-70">
      <canvas #genderChart *ngIf="!isLoading && genderData"></canvas>
    </div>

   <div *ngIf="!isLoading && genderData" class="mt-4 flex gap-6 text-gray-700">
      <p><span class="font-semibold">{{ genderData.male_count }}</span> Hommes</p>
      <p><span class="font-semibold">{{ genderData.female_count }}</span> Femmes</p>
   </div>
  </div>

  <div class="bg-gray-200 shadow p-5 rounded-xl flex flex-col min-w-0" style="min-height: 300px;">
    <h2 class="text-xl font-semibold mb-4 flex items-center">🍃 Congés en cours</h2>

    <div *ngIf="!isLoading && ongoingLeaves.length === 0" class="text-gray-500">Aucun congé en cours aujourd'hui.</div>

    <div *ngIf="ongoingLeaves.length > 0" class="overflow-y-auto scrollbar-thin flex-1" style="max-height: 220px;">

      <div *ngFor="let leave of ongoingLeaves" class="border-b last:border-b-0 py-2 hover:bg-gray-100 rounded cursor-pointer px-1">
        <div class="flex justify-between items-center">
          <p class="font-medium">{{ leave.employee_name }} {{ leave.employee_lastname }}</p>
          <span class="text-sm bg-blue-500 text-white px-2 py-0.5 rounded-lg">{{ translateLeaveType(leave.leave_type_name) }}</span>
        </div>

        <p class="text-gray-600 text-sm mt-1">📅 Du {{ leave.start_date | date:'dd MMM' }} au {{ leave.end_date | date:'dd MMM' }}</p>
        <p class="text-gray-500 text-sm">⏳ {{ calculateLeaveDuration(leave.start_date, leave.end_date) }} jours</p>
      </div>
    </div>
  </div>

  <div class="bg-gray-200 shadow p-5 rounded-xl flex flex-col min-w-0" style="min-height: 300px;">
    <h2 class="text-xl font-semibold mb-4 flex items-center">🛠️ Missions du mois</h2>

    <div *ngIf="!isLoading && missionsThisMonth.length === 0" class="text-gray-500">Aucune mission pour ce mois.</div>

    <div *ngIf="missionsThisMonth.length > 0" class="overflow-y-auto scrollbar-thin flex-1" style="max-height: 220px;">

      <div *ngFor="let mission of missionsThisMonth"  class="border-b last:border-b-0 py-3 px-2 hover:bg-gray-100 rounded cursor-pointer">

        <div class="flex justify-between items-center">
          <p class="font-medium text-gray-800">{{ mission.mission_name }}</p>

          <span class="text-xs px-2 py-1 rounded-lg text-white"
            [ngClass]="{
              'bg-red-600': mission.priority === 'HIGH',
              'bg-yellow-600': mission.priority === 'MEDIUM',
              'bg-green-600': mission.priority === 'LOW'
            }">
            {{ translatePriority(mission.priority) }}
          </span>
        </div>

        <p class="text-gray-600 text-sm mt-1">💰 Dépenses : <span class="font-semibold">{{ mission.expenses }} DT</span></p>
      </div>

    </div>
  </div>

</div>
