.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5);
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, 0.3);
  border-radius: 3px;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(107,114,128,0.5) rgba(229,231,235,0.3);
}
