<div class="bg-white/40 backdrop-blur-sm relative max-h-screen px-4 py-8">
  <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Salaires des Employés</h1>
  </div>

<div id="print-section" class="bg-white shadow-md rounded-lg overflow-x-auto p-4">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Prénom & Nom</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">N° du compte</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Banque</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Branche</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Salaire</th> 
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Total</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr *ngFor="let salary of salaries_data">
        <td class="px-4 py-2 text-sm text-gray-700">{{ salary.account_holder_name }}</td>
        <td class="px-4 py-2 text-sm text-gray-700">{{ salary.account_number }}</td>
        <td class="px-4 py-2 text-sm text-gray-700">{{ salary.bank_name }}</td>
        <td class="px-4 py-2 text-sm text-gray-700"> {{ salary.branch_location }} </td>
        <td class="px-4 py-2 text-sm text-gray-700"> {{ salary.salary }} DT </td>
        <td class="px-4 py-2 text-sm text-gray-700 font-bold"> *** TND </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    [length]="total"
    [pageSize]="limit"
    [pageIndex]="offset / limit"
    [pageSizeOptions]="[5, 20, 50, 100]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div class="flex justify-end mt-4">
  <button class="btn-print" (click)="onPrint()">
    <mat-icon>print</mat-icon> Imprimer
  </button>
</div>
