<div class="bg-white/40 backdrop-blur-sm relative max-h-screen px-4 py-8">
  <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Salaires des Employés</h1>
  </div>

<div class="bg-white shadow-md rounded-lg overflow-x-auto p-4">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Prénom</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Nom</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Salaire</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Impôt</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">CNSS</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Total</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr *ngFor="let employee of salaries_data">
        <td class="px-4 py-2 text-sm text-gray-700">{{ employee.firstName }}</td>
        <td class="px-4 py-2 text-sm text-gray-700">{{ employee.lastName }}</td>
        <td class="px-4 py-2 text-sm text-gray-700">{{ employee.salary }} DT || *** DT</td>
        <td class="px-4 py-2 text-sm text-gray-700">{{ employee.tax }} DT || *** DT</td>
        <td class="px-4 py-2 text-sm text-gray-700">{{ employee.cnss }} DT || *** DT</td>
        <td class="px-4 py-2 text-sm text-gray-700 font-bold">{{ employee.total }} DT || *** DT</td>
      </tr>
    </tbody>
  </table>

  <div class="flex justify-end mt-4">
    <button mat-raised-button color="primary" (click)="onPrint()">
      <mat-icon class="mr-2">print</mat-icon> Imprimer
    </button>
  </div>
</div>
