<div class="p-6 md:p-8 max-w-[650px] mx-auto">
  <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Ajouter un Utilisateur</h1>
  
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="space-y-10">

    <div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="user_name" placeholder="Entrez le prénom" />
          <mat-error *ngIf="userForm.get('user_name')?.hasError('required')">Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="user_lastname" placeholder="Entrez le nom" />
          <mat-error *ngIf="userForm.get('user_lastname')?.hasError('required')">Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="user_email" placeholder="Entrez l'email" />
          <mat-error *ngIf="userForm.get('user_email')?.hasError('required')">Ce champ est requis</mat-error>
          <mat-error *ngIf="userForm.get('user_email')?.hasError('email')">Adresse email invalide </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="user_password" placeholder="Entrez le mot de passe" />
          <mat-error *ngIf="userForm.get('user_password')?.hasError('required')">Ce champ est requis</mat-error>
          <mat-error *ngIf="userForm.get('user_password')?.hasError('minlength')">Minimum 6 caractères</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full md:col-span-2">
          <mat-label>Rôle</mat-label>
          <mat-select formControlName="user_role_id">
            <mat-option value="">Choisir</mat-option>
            <mat-option *ngFor="let role of roles_data" [value]="role.role_id">{{ role.role_type }}</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('user_role_id')?.hasError('required')">Ce champ est requis</mat-error>
        </mat-form-field>

      </div>
    </div>

    <div class="flex justify-center gap-4 pt-4">
      <button type="submit" class="btn-add w-fit min-w-[140px]" [disabled]="userForm.invalid">Ajouter</button>
      <button type="button" class="btn-cancel w-fit min-w-[140px]" (click)="goBack()">Annuler</button>
    </div>
    
  </form>
</div>