<h1 class="text-3xl font-bold text-gray-800 mb-12 text-center border-b pb-4">
  Liste des jours fériés
</h1>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="flex flex-col sm:flex-row gap-8 items-center justify-between">
  <mat-form-field class="w-full sm:w-2/3">
    <mat-label>Choisir une année</mat-label>
    <mat-select [(ngModel)]="selected_year" (selectionChange)="selectYear($event.value)">
      <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="btn-add-rectangular w-full sm:w-1/3" (click)="openAddHolidayModal()">Ajouter un jour férié</button>
</div>


<div class="flex flex-col md:flex-row gap-6 md:items-stretch">
  
  <div class="w-full md:w-1/2 flex flex-col space-y-6">
    
    <div class="bg-white border border-gray-200 shadow-lg rounded-xl p-6 h-full flex-grow transition hover:shadow-2xl">      
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Jour Férié</th>
            <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Date</th>
            <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr *ngIf="isEmpty">
            <td colspan="3" class="text-center text-gray-500 py-4">
              Aucun jour férié trouvé.
            </td>
          </tr>
          <tr *ngFor="let holiday of holidays_data">
            <td class="px-4 py-2 text-sm">{{ holiday.holiday_name }}</td>
            <td class="px-4 py-2 text-sm">{{ holiday.holiday_date | date:'yyyy-MM-dd' }}</td>
            <td class="px-4 py-2 text-sm flex space-x-2">
              <button mat-icon-button color="primary" (click)="holidayEdit(holiday.holiday_id)">
                <mat-icon style="color: #3b82f6;">edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="holidayDelete(holiday.holiday_id)">
                <mat-icon style="color: #ef4444;">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="w-full md:w-1/2 flex flex-col">
    <div
      class="bg-white border border-gray-200 shadow-lg rounded-xl p-6 h-full flex-grow min-h-[500px] transition hover:shadow-2xl">
      <h2 class="text-xl font-semibold mb-4 text-center">Calendrier {{ selected_year }}</h2>
      <div class="flex justify-center items-center h-full">
        <mat-calendar [selected]="today" [dateClass]="highlightHolidays" (selectedChange)="onCalendarYearChange($event)"
          class="w-full max-w-[480px] h-auto scale-[1.05]"></mat-calendar>
      </div>
    </div>
  </div>

</div>

