<h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Liste des Missions</h1>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Nombre Total des Missions</h2>
    <p class="text-2xl font-bold text-green-600">{{ total_missions_count }}</p>
  </div>
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Missions en Cours</h2>
    <p class="text-2xl font-bold text-blue-600">
      {{ active_missions_count }}
    </p>
  </div>
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Missions Terminées</h2>
    <p class="text-2xl font-bold text-green-700">
      {{ completed_missions_count }}
    </p>
  </div>
  <div class="bg-gray-200 shadow rounded-lg p-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
    <h2 class="text-gray-900 text-sm">Missions Annulées</h2>
    <p class="text-2xl font-bold text-red-600">
      {{ canceled_missions_count }}
    </p>
  </div>
</div>

<div class="bg-white shadow-md rounded-lg p-4">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Nom de la Mission</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Description</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Débute le</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Se termine le</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Priorité</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Actions</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr *ngFor="let mission of missions_data">
        <td class="px-4 py-2 text-sm">{{ mission.mission_name }}</td>
        <td class="px-4 py-2 text-sm">{{ mission.mission_description }}</td>
        <td class="px-4 py-2 text-sm">{{ mission.start_at | date: 'dd/MM/yyyy' }}</td>
        <td class="px-4 py-2 text-sm">{{ mission.end_at | date: 'dd/MM/yyyy' }}</td>
        <td class="px-4 py-2 text-sm">
          <span
            class="px-2 py-1 rounded-full text-white text-xs font-semibold"
            [ngClass]="{
              'bg-green-500': mission.priority === 'LOW',
              'bg-yellow-500': mission.priority === 'MEDIUM',
              'bg-red-500': mission.priority === 'HIGH'
            }"
          >
            {{ priorityMap[mission.priority] || mission.priority }}
          </span>
        </td>
        <td class="px-4 py-2 text-sm flex space-x-2">
          <button mat-icon-button color="primary" (click)="onEditMission(mission.mission_id)" class="cursor-pointer">
            <mat-icon style="color: #3b82f6;">edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="onDeleteMission(mission.mission_id)" class="cursor-pointer">
            <mat-icon style="color: #ef4444;">delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    [length]="total_missions_count"
    [pageSize]="limit"
    [pageSizeOptions]="page_size_options"
    (page)="onPageChange($event)">
  </mat-paginator>

</div>
