<h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Modifier un Employé</h1>

<div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-70 z-[9999]">
  <mat-spinner diameter="100"></mat-spinner>
</div>

<form *ngIf="employeeForm" [formGroup]="employeeForm" class="space-y-12 px-6 md:px-12">
  <div>
    <h2 class="text-xl font-semibold text-gray-700 mb-6 border-b pb-2">Informations Générales</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="form-group">
        <label>Prénom: </label>
        <input formControlName="employee_name" type="text" class="input" />
      </div>
      <div class="form-group">
        <label>Nom: </label>
        <input formControlName="employee_lastname" type="text" class="input" />
      </div>
      <div class="form-group">
        <label>N° de Téléphone: </label>
        <input formControlName="employee_phone_number" type="text" class="input" />
      </div>
      <div class="form-group">
        <label>Email: </label>
        <input formControlName="employee_email" type="email" class="input" />
      </div>
      <div class="form-group">
        <label>Adresse: </label>
        <input formControlName="employee_address" type="text" class="input" />
      </div>
      <div class="form-group">
        <label>CIN: </label>
        <input formControlName="employee_national_id" type="text" class="input" />
      </div>
      <div class="form-group">
        <label>Sexe: </label>
        <select formControlName="employee_gender" class="input">
          <option value="">-- Sélectionner --</option>
          <option value="Male">Homme</option>
          <option value="Female">Femme</option>
        </select>
      </div>
      <div class="form-group">
        <label>Date de Naissance: </label>
        <input formControlName="employee_birth_date" type="date" class="input" />
      </div>
      <div class="form-group">
        <label>Titre d'Emploi: </label>
        <input formControlName="employee_job_title" type="text" class="input" />
      </div>
      <div class="form-group">
        <label>Matricule: </label>
        <input formControlName="employee_matricule" type="text" class="input" />
      </div>
      <div class="form-group">
        <label>Date de Début: </label>
        <input formControlName="employee_joining_date" type="date" class="input" />
      </div>
      <div >
        <label>Date de la Fin: </label>
        <input  type="date" class="input" />
      </div>
    </div>
  </div>
</form>

<form *ngIf="contactForm" [formGroup]="contactForm" class="space-y-12 px-6 md:px-12 mt-12">
  <div>
    <h2 class="text-xl font-semibold text-gray-700 mb-6 border-b pb-2">Informations du Contrat</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="form-group">
        <label>Type du Contrat: </label>
        <select formControlName="contract_type_id" class="input">
          <option value="">-- Sélectionner --</option>
          <option *ngFor="let contract of contract_types_data" [value]="contract.contract_type_id">
            {{ contract.contract_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Salaire: </label>
        <input formControlName="salary" type="number" class="input" />
      </div>
    </div>
  </div>
</form>

<form [formGroup]="bankDetailsForm" class="space-y-12 px-6 md:px-12 mt-12">
  <div>
    <h2 class="text-xl font-semibold text-gray-700 mb-6 border-b pb-2">Informations Bancaires</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="form-group">
        <label>Nom & Prénom: </label>
        <input formControlName="account_holder_name" type="text" class="input" />
      </div>
      <div class="form-group">
        <label>N° de Compte: </label>
        <input formControlName="account_number" type="text" class="input" />
      </div>
      <div class="form-group">
        <label>Banque:</label>
        <select formControlName="bank_name" class="input">
          <option value="">-- Sélectionner --</option>
          <option value="BNA">BNA</option>
          <option value="BH">BH</option>
          <option value="BIAT">BIAT</option>
          <option value="AMEN">AMEN</option>
          <option value="BT">BT</option>
          <option value="UBCI">UBCI</option>
          <option value="STB">STB</option>
          <option value="ZITOUNA">ZITOUNA</option>
          <option value="BTK">BTK</option>
          <option value="ATTIJARI">ATTIJARI</option>
          <option value="BTL">BTL</option>
          <option value="ALBARAKA">ALBARAKA</option>
          <option value="BTE">BTE</option>
          <option value="CITI">CITI</option>
          <option value="QNB">QNB</option>
          <option value="BFPME">BFPME</option>
          <option value="ALWIFAK">ALWIFAK</option>
          <option value="La POSTE">La POSTE</option>
        </select>
      </div>
      <div class="form-group">
        <label>Branche: </label>
        <input formControlName="branch_location" type="text" class="input" />
      </div>
      <div class="form-group">
        <label>Identificateur Fiscale: </label>
        <input formControlName="tax_payer_id" type="text" class="input" />
      </div>
    </div>
  </div>
</form>

<div class="text-center pt-6 space-x-4">
  <button
    type="button"
    (click)="UpdateEmployee()"
    class="bg-green-600 text-white font-semibold px-12 py-2 rounded-lg hover:bg-green-700 transition cursor-pointer">
    Modifier
  </button>
  <button
    type="button"
    (click)="onCancel()"
    class="bg-red-600 text-white font-semibold px-12 py-2 rounded-lg hover:bg-red-700 transition cursor-pointer">
    Annuler
  </button>
</div>
