<div class="min-h-screen flex flex-col bg-gray-100 p-4">
  <div class="flex flex-col md:flex-row flex-1 overflow-hidden">
    <aside class="w-full md:w-64 bg-[#0a2540] text-white p-4 rounded-lg mb-4 md:mb-0 md:mr-4 flex flex-col justify-between overflow-auto max-h-full">
      <div>
        <h2 class="text-xl font-bold mb-8 text-center">MANAGEMENT</h2>
        <h3 class="ttext-xl font-bold mb-8 text-center">Bonjour {{user_name}}</h3>
        <ul class="space-y-4">

          <li>
            <button
              (click)="toggleRHSubmenu()"
              class="w-full bg-white/10 hover:bg-white/20 text-white py-2 px-4 rounded-lg flex items-center justify-center gap-2 cursor-pointer"
            >
              <span class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M5.121 17.804A9.004 9.004 0 0112 15c2.21 0 4.21.805 5.879 2.136M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                </svg>RH
              </span>
              <svg [class.rotate-180]="showRHSubmenu" xmlns="http://www.w3.org/2000/svg"
                   class="h-4 w-4 transition-transform duration-300" fill="none"
                   viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
              </svg>
            </button>

            <ul *ngIf="showRHSubmenu" class="ml-4 mt-2 space-y-2">
              <li *ngIf="showEmployeeListMenu">
                <a routerLink="/main-page/hr/employees-list" routerLinkActive="text-yellow-400"
                   class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Liste des employés
                </a>
              </li>
              <li *ngIf="showAddEmployeeMenu">
                <a routerLink="/main-page/hr/add-employee" routerLinkActive="text-yellow-400"
                   class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Ajouter un employé
                </a>
              </li>
              <li *ngIf="showRequestLeavesMenu">
                <a routerLink="/main-page/hr/request-leaves" routerLinkActive="text-yellow-400"
                   class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Demande congé
                </a>
              </li>
              <li *ngIf="showLeavesListMenu">
                <a routerLink="/main-page/hr/leaves-list" routerLinkActive="text-yellow-400"
                   class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Liste des congés
                </a>
              </li>
              <li *ngIf="showHolidaysMenu">
                <a routerLink="/main-page/hr/holidays-list" routerLinkActive="text-yellow-400"
                  class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Jours fériés
                </a>
              </li>
              <li *ngIf="showSalariesMenu">
                <a routerLink="/main-page/hr/salaries" routerLinkActive="text-yellow-400"
                   class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Salaires
              </a>
              </li>
              <li *ngIf="showStatsMenu">
                <a routerLink="/main-page/hr/hr-stats" routerLinkActive="text-yellow-400"
                   class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Statistiques
                </a>
              </li>
            </ul>
          </li>

          <li *ngIf="showMaterialMenu">
            <a routerLink="/main-page/material"
               class="bg-white/10 hover:bg-white/20 text-white py-2 px-4 rounded-lg flex items-center gap-2 justify-center cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                   viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9.75 3.75h4.5m-6.75 6h9m-9 4.5h9m-4.5 4.5H3.75m16.5 0H18"/>
              </svg>Matériel
            </a>
          </li>

          <li *ngIf="showMissionsMenu">
            <button (click)="toggleMissionsSubmenu()" class="w-full bg-white/10 hover:bg-white/20 text-white py-2 px-4 rounded-lg flex items-center justify-center gap-2 cursor-pointer">
              <span class="flex items-center gap-2">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9 12h6m2 0a6 6 0 10-12 0 6 6 0 0012 0zm-6 8v-2m0-14V2"/>
                </svg>Missions
              </span>
              <svg [class.rotate-180]="showMissionsSubmenu" xmlns="http://www.w3.org/2000/svg"
                   class="h-4 w-4 transition-transform duration-300" fill="none"
                   viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
              </svg>
            </button>

            <ul *ngIf="showMissionsSubmenu" class="ml-4 mt-2 space-y-2">
              <li>
                <a routerLink="/main-page/missions/missions-list" routerLinkActive="text-yellow-400"
                   class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Liste des missions
                </a>
              </li>
              <li>
                <a routerLink="/main-page/missions/add-mission" routerLinkActive="text-yellow-400"
                   class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Ajouter une mission
                </a>
              </li>
            </ul>
          </li>

          <li *ngIf="showPlanningMenu">
            <button (click)="togglePlanningSubmenu()" class="w-full bg-white/10 hover:bg-white/20 text-white py-2 px-4 rounded-lg flex items-center justify-center gap-2 cursor-pointer">
              <span class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                </svg>Planning
              </span>
              <svg [class.rotate-180]="showPlanningSubmenu" xmlns="http://www.w3.org/2000/svg"
                   class="h-4 w-4 transition-transform duration-300" fill="none"
                   viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
              </svg>
            </button>

            <ul *ngIf="showPlanningSubmenu" class="ml-4 mt-2 space-y-2">
              <li>
                <a routerLink="/main-page/planning/add-project" routerLinkActive="text-yellow-400"
                   class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Ajouter un projet
                </a>
              </li>
              <li>
                <a routerLink="/main-page/planning/show-project" routerLinkActive="text-yellow-400"
                   class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Liste des projets
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </div>

      <div class="mt-8 space-y-4">
        <div *ngIf="showSttingsMenu" class="space-y-2">
            <button
              (click)="toggleSettingsSubmenu()"
              class="w-full bg-white/10 hover:bg-white/20 text-white py-2 px-4 rounded-lg flex items-center justify-center gap-2 cursor-pointer"
            >
              <span class="flex items-center gap-2">⚙️ Paramètres</span>
              <svg [class.rotate-180]="showSettingsSubmenu" xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 transition-transform duration-300" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
              </svg>
            </button>

            <ul *ngIf="showSettingsSubmenu" class="ml-4 mt-2 space-y-2">
              <li>
                <a routerLink="/main-page/settings/account-settings" routerLinkActive="text-yellow-400"
                  class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Compte
                </a>
              </li>
              <li>
                <a routerLink="/main-page/settings/company-settings" routerLinkActive="text-yellow-400"
                  class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Société
                </a>
              </li>
              <li>
                <a routerLink="/main-page/settings/contracts-settings" routerLinkActive="text-yellow-400"
                  class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  Contrats
                </a>
              </li>
              <li>
                <a routerLink="/main-page/settings/hr-settings" routerLinkActive="text-yellow-400"
                  class="block text-white bg-white/10 hover:bg-white/20 py-2 px-4 rounded-lg text-sm">
                  RH
                </a>
              </li>
            </ul>
        </div>


          <button routerLink="/"
                  class="bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded-lg block w-full text-center cursor-pointer"
                  (click)="logout()">
            🔌 Déconnection
          </button>
      </div>

    </aside>

    <main class="flex-1 p-8 bg-white rounded-lg shadow-md overflow-y-auto max-h-screen relative">
      <router-outlet></router-outlet>
    </main>

  </div>

  <footer class="bg-[#0a2540] text-white text-center py-4 w-full mt-6 rounded-lg">
    Created with <span class="text-red-500">❤️</span> by
    <a
      href="{{my_web_resume_link}}"
      target="_blank"
      rel="noopener noreferrer"
      class="font-bold hover:text-yellow-500 transition">Akram Benaoun
    </a>
    © {{ current_year }}
  </footer>
</div>