<div class="min-h-screen flex flex-col bg-gray-100 p-4">
  <div class="flex flex-col md:flex-row flex-1">
    <aside
      class="w-full md:w-64 bg-[#0a2540] text-white p-4 rounded-lg mb-4 md:mb-0 md:mr-4 flex flex-col justify-between">
      <div>
        <h2 class="text-xl font-bold mb-8 text-center">MANAGEMENT</h2>
        <ul class="space-y-4">
          <li>
            <a
              routerLink="/rh"
              class="bg-white/10 hover:bg-white/20 text-white py-2 px-4 rounded-lg flex items-center gap-2 justify-center cursor-pointer" >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2" >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5.121 17.804A9.004 9.004 0 0112 15c2.21 0 4.21.805 5.879 2.136M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              RH
            </a>
          </li>
          <li>
            <a
              routerLink="/materiel"
              class="bg-white/10 hover:bg-white/20 text-white py-2 px-4 rounded-lg flex items-center gap-2 justify-center cursor-pointer" >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2" >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9.75 3.75h4.5m-6.75 6h9m-9 4.5h9m-4.5 4.5H3.75m16.5 0H18" />
              </svg>
              Matériel
            </a>
          </li>
          <li>
            <a
              routerLink="/missions"
              class="bg-white/10 hover:bg-white/20 text-white py-2 px-4 rounded-lg flex items-center gap-2 justify-center cursor-pointer" >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2" >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12h6m2 0a6 6 0 10-12 0 6 6 0 0012 0zm-6 8v-2m0-14V2" />
              </svg>
              Missions
            </a>
          </li>
        </ul>
      </div>

      <div class="mt-8 space-y-4">
        <a
          routerLink="/settings"
          class="bg-white/10 hover:bg-white/20 text-white py-2 px-4 rounded-lg block text-center cursor-pointer" >
          ⚙️ Paramètres
        </a>
        <button
          routerLink="/"
          class="bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded-lg block w-full text-center cursor-pointer"
          (click)="logout()">
          🔌 Déconnection
        </button>
      </div>
    </aside>

    <main class="flex-1 p-8 bg-white rounded-lg shadow-md overflow-auto">
      <!-- <h1 class="text-2xl font-semibold mb-6">Dashboard</h1> -->
      <router-outlet></router-outlet>
    </main>
  </div>

  <footer
    class="bg-[#0a2540] text-white text-center py-4 w-full mt-6 rounded-lg"
  >
    Created with <span class="text-red-500">❤️</span> by
    <a
      href={{my_web_resume_link}}
      target="_blank"
      rel="noopener noreferrer"
      class="font-bold hover:text-yellow-500 transition"
    >
      Akram Benaoun
    </a>
    © {{ current_year }}
  </footer>
</div>
