<div
  class="min-h-[100dvh] flex flex-col items-center justify-center bg-gradient-to-br from-green-900 to-green-400 relative px-4">

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <div class="text-white text-3xl sm:text-4xl font-semibold text-center mb-8 mt-10">Bienvenue sur votre espace personnel
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm"
    class="bg-white bg-opacity-20 backdrop-blur-md rounded-2xl shadow-xl p-8 sm:p-12 w-full max-w-md">

    <h2 class="text-2xl sm:text-3xl font-bold mb-6 text-center text-gray-800">Login</h2>
    <mat-form-field appearance="outline" class="w-full mb-5">
      <mat-label>Email</mat-label>

      <input matInput type="email" formControlName="user_email" />

      <mat-error *ngIf="loginForm.get('user_email')?.hasError('required')">
        Email is required
      </mat-error>

      <mat-error *ngIf="loginForm.get('user_email')?.hasError('email')">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-6">
      <mat-label>Mot de passe</mat-label>

      <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="user_password" />

      <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()"
        [attr.aria-label]="'Toggle password visibility'">
        <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>

      <mat-error *ngIf="loginForm.get('user_password')?.hasError('required')">
        Password is required
      </mat-error>

      <mat-error *ngIf="loginForm.get('user_password')?.hasError('minlength')">
        Password must be at least 6 characters
      </mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="loginForm.invalid"
      class="w-full bg-green-700 hover:bg-green-800 text-white font-semibold py-2 rounded-lg transition cursor-pointer">
      Login
    </button>

    <button type="button" (click)="goToSignUp()"
      class="w-full mt-4 bg-blue-700 hover:bg-blue-800 text-white font-semibold py-2 rounded-lg transition cursor-pointer">
      Créer un compte
    </button>

    <div *ngIf="loginError" class="text-red-500 text-sm mt-4 text-center">{{ loginError }}</div>

  </form>

  <footer class="mt-10 text-white text-sm text-center px-4">
    Created with ❤️ by
    <a href="https://akram-benaoun.site" target="_blank"
      class="font-semibold no-underline hover:text-yellow-300 transition">Akram Benaoun</a> © {{ current_year }}
  </footer>

</div>