<h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Congés</h1>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="space-y-12 px-6 md:px-12">
    <form [formGroup]="requestLeavesForm">
  <div>
    <h2 class="text-xl font-semibold text-gray-700 mb-6 border-b pb-2">Demande Congé</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

      <mat-form-field appearance="fill">
        <mat-label>Raison du congé</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Type du congé</mat-label>
        <mat-select formControlName="leave_type_id">
          <mat-option value="">-- Sélectionner --</mat-option>
          <mat-option *ngFor ="let lt of leave_types_data" [value]="lt.leave_type_id">{{lt.leave_type_name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date de Début</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="start_date">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date de Fin</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="end_date" [min]="minEndDate"/>
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

    </div>


  </div>

    <div class="text-center pt-6">
        <button type="button" (click)="requestLeave()" class="btn-add">Demander un congé</button>
    </div>
</form>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6"></div>
<h2 class="text-xl font-semibold text-gray-700 mb-6 border-b pb-2">Mes Congés</h2>
</div>



