<div *ngIf="!flag" class="flex items-center justify-center bg-white/40 backdrop-blur-sm relative w-full h-full min-h-[500px]">
  
  <!-- <div class="text-center space-y-6 px-4 py-8">
    <div class="text-8xl mb-4">🚧</div>
    <h1 class="text-2xl md:text-4xl font-semibold text-gray-800">Accès Refusé</h1>
    <p class="text-gray-600 text-lg md:text-xl">Vous n'êtes pas autorisé à accéder à cette page.<br />Seul l'administrateur y a accès.</p>
  </div> -->
</div>

<div *ngIf="flag" class="bg-white/40 backdrop-blur-sm relative max-h-screen px-4 py-8">
  <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Liste des Utilisateurs</h1>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <button class="btn-add"><a routerLink="/main-page/settings/add-user/">Ajouter un Utilisateur</a></button>

  <div class="bg-white shadow-md rounded-lg overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Prénom</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Nom</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Email</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Rôle</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr *ngFor="let user of users_data">
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.user_name }}</td>
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.user_lastname }}</td>
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.user_email }}</td>
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.role_type }}</td>
          <td class="px-4 py-2 text-sm flex space-x-2">
            <button mat-icon-button color="primary" style="cursor: pointer" (click)="onEditUser(user.user_id)"><mat-icon style="color: #3b82f6">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" style="cursor: pointer" (click)="onDeleteUser(user.user_id)"><mat-icon style="color: #ef4444">delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  