<div *ngIf="!flag" class="bg-white/40 backdrop-blur-sm relative">
  <h1 class="absolute top-6 left-6 text-4xl md:text-5xl font-bold text-gray-700">
    Vous n'etes pas autorisé! Seul l'administrateur peut accéder à cette page.
  </h1>
</div>

<div *ngIf="flag" class="bg-white/40 backdrop-blur-sm relative max-h-screen px-4 py-8">
  <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">Liste des Utilisateurs</h1>

  <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-70 z-[9999]">
    <mat-spinner diameter="80"></mat-spinner>
  </div>

  <div class="bg-white shadow-md rounded-lg overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Prénom</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Nom</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Email</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Rôle</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr *ngFor="let user of users_data">
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.user_name }}</td>
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.user_lastname }}</td>
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.user_email }}</td>
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.role_type }}</td>
          <td class="px-4 py-2 text-sm flex space-x-2">
            <button mat-icon-button color="primary" style="cursor: pointer" (click)="onEditUser(user)">
              <mat-icon style="color: #3b82f6;">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" style="cursor: pointer" (click)="onDeleteUser(user)">
              <mat-icon style="color: #ef4444;">delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
